#navbar {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  color: black;
  padding: 0 30px;
  background-color: rgb(255, 240, 219);
  /* border: 1px solid black; */
}

#navbar > #logo {
  width: auto;
}
#navbar > #logo > h2 {
  font-weight: 600;
  /* color: white; */
}

#navbar > #search-bar {
  height: 60%;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: black;
  border-radius: 4px;
  /* border: 1px solid rgb(216, 216, 216); */
}

#navbar > #search-bar > input {
  height: 100%;
  width: 88%;
  border: none;
  background: none;
  outline: none;
}
