#mini-card {
  height: 100px;
  width: 95%;
  background-color: black;
  border: 1px solid black;
}
/* 
#mini-card > #card {
  height: 100px;
  width: auto;
  color: white;
  border: 1px solid black;
} */
