#image-holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

#image {
  height: 50%;
  width: 20%;
}

#image > img {
  height: 100%;
  width: 100%;
}
